<div class="lg:col-span-2 xl:col-span-3 w-full flex flex-col items-center space-y-8">
  <div 
    class="max-w-xl min-w-80 w-full flex flex-col"
  >
    <img class="rounded-xl" src="https://secretsantanz.imgix.net/elves-banner-2881b545-9291-4120-8d23-161cd6d0d2dd?w=576&h144&auto=format" alt="" width="576px" height="144px">
  </div>
  <%- include('../layouts/card.ejs', { bodyTemplate: 'auth/login.ejs' }) %>
  <%- include('../layouts/card.ejs', { bodyTemplate: 'partials/what-is-secret-santa.ejs', showMoreLinks: true }) %>
</div>