<div class="max-w-md w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg">
  <form method="post" action="/atproto-login" class="m-0">
    <input type="hidden" name="requestId" value="<%= requestId %>"/>
    <div class="space-y-8">
      <h1 class="text-xl font-semibold">Login or Sign up</h1>
      <%- include('../partials/input-text.ejs', {id: 'handle', label: 'Handle', placeholder: 'secretsantanz.bsky.social'}); %>
      <input type="submit" name="login" value="Login" class="rounded-lg w-full px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring ring-sky-500 outline-none" />
    </div>
  </form>
</div>