{% from 'common/avatar.njk' import avatar %}
<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-start"
>
  <div x-show="isMobileWidth" x-bind:class="'size-10 shrink-0 grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"></div>
  <div class="grow shrink">
    <h1>About me</h1>
    <p>Check and update your details to make sure Santa can find you</p>
  </div>
  {{ avatar(player.avatar_url) }}
</div>
<div x-show="!isMobileWidth || cardExpanded" class="flex flex-col grow">
  <div class="font-semibold mt-8 text-xl">
  {% if player.player_type === 'mastodon' %}
    <a href="https://{{ player.mastodon_host }}/@{{ player.mastodon_account.split('@')[0] | ssEscapeUri }}" target="_blank">@{{ player_display_handle }}</a></div>
  {% else %}
    <a href="https://bsky.app/profile/{{ player.handle | ssEscapeUri }}" target="_blank">@{{ player.handle }}</a></div>
  {% endif %}
  {% if player.game_mode != 'Santa Only' %}
  <div class="mt-4 flex items-start">
    <div class="grow shrink">
      <h2 class="text-md font-semibold">My address</h2>
      <p>{{ player.address }}</p>
      <p>{{ player.delivery_instructions }}</p>
    </div>
    {% if not player.locked_giftee_for_count %}
      <a href="/address" x-target="modal-content" @ajax:before="$dispatch('modal:open')" class="no-underline size-10 p-2 rounded-full shrink-0">
        <span class="i-mdi-pencil size-full"><span class="sr-only">Edit addreess</span></span>
      </a>
    {% endif %}
  </div>
  {% endif %}
  <div class="mt-4 flex items-start">
    <div class="grow shrink">
      <h2 class="text-md font-semibold">My game</h2>
      <p>Playing as a <b>{{ player.game_mode }}</b>{{ ' for up to ' + player.max_giftees + ' giftees' if player.game_mode !== 'Regular' and player.game_mode !== 'Giftee Only' }}</p>
    </div>
    {% if settings.signups_open and (player.game_mode === 'Regular' or player.game_mode === 'Super Santa') %}
      <a href="/game-mode" x-target="modal-content" @ajax:before="$dispatch('modal:open')" class="size-10 p-2 rounded-full shrink-0">
        <span class="i-mdi-pencil size-full"><span class="sr-only">Edit game mood</span></span>
      </a>
    {% endif %}
  </div>
  <div class="grow shrink"></div>
  <a href="/opt-out" x-target="modal-content" @ajax:before="$dispatch('modal:open')" id="opt-out-button" class="no-underline block rounded-lg px-8 py-2 mt-12 border-4 border-red-600 hover:bg-red-300 text-red-600 flex">
    <div>Opt out</div>
  </a>
</div>