{% from 'common/avatar.njk' import avatar %}
<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-start"
>
  <div x-show="isMobileWidth" x-bind:class="'size-10 shrink-0 grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"></div>
  <div class="grow shrink">
    <h1>My giftee</h1>
    <p>Meet your Giftee, sleuth their socials, learn about them and then find them the perfect gift.</p>
  </div>
  <div class="size-10 shrink-0 grow-0 i-mdi-person-card-details"></div>
</div>
<div x-show="!isMobileWidth || cardExpanded">
  {% for giftee in giftees %}
    <div class="mt-8">
      <div class="flex items-center">
        {{ avatar(giftee.avatar_url) }}
        <div class="font-semibold ml-4"><a href="https://bsky.app/profile/{{ giftee.handle | ssEscapeUri }}" target="_blank">@{{ giftee.handle }}</a></div>
      </div>
      {% if giftee.match_status === 'locked' %}
        <div>
          <p>{{ giftee.address }}</p>
          <p>{{ giftee.delivery_instructions }}</p>
        </div>
        <div class="flex justify-evenly mt-2">
          {% if giftee.nudge_count < 5 %}
            <a href="/match/{{ giftee.match_id }}/send-nudge" x-target="modal-content" @ajax:before="$dispatch('modal:open')" class="flex items-center rounded-xs">
            <div class="i-mdi-message-bubble mr-1 size-5"></div><div>Nudge</div>
          </a>
          {% endif %}
          {% if giftee.tracking_count < 5 %}
            <a href="/match/{{ giftee.match_id }}/add-tracking" x-target="modal-content" @ajax:before="$dispatch('modal:open')" class="flex items-center rounded-xs">
              <div class="i-mdi-email mr-1 size-5"></div><div>Add sent present</div>
            </a>
          {% endif %}
        </div>
      {% else %}
        <p class="italic">Address will be released soon.</p>
        <p class="italic mt-2">You can send nudges once addresses are released.</p>
      {% endif %}
    </div>
  {% else %}
    <p class="mt-8 italic">Your Giftee isn't assigned yet, check back soon.</p>
  {% endfor %}
</div>