<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-start"
>
  <div x-show="isMobileWidth" x-bind:class="'size-10 shrink-0 grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"></div>
  <div class="grow shrink">
    <h1>Presents I've sent</h1>
    {% if giftsIveSent.length === 0 %}
      <p>Once you've sent a present and entered the tracking number it will show up here.</p>
    {% else %}
      <p>You've sent {{ giftsIveSent.length | ssPlur('gift') }}, great work!</p>
    {% endif %}
    <p class="text-sm">(Record your tracking under &quot;My giftee&quot;)</p>
  </div>
  <div class="size-10 shrink-0 grow-0 i-mdi-email-sent"></div>
</div>
<div x-show="!isMobileWidth || cardExpanded" class="space-y-8">
  {% for sentTracking in giftsIveSent %}
    <p>
      To @{{ sentTracking.giftee_handle }} on
      {{ sentTracking.shipped_date | ssDate }} with {{ sentTracking.carrier }} <b>{{ sentTracking.tracking_number }}</b>. {{ 'Gifts are wrapped.' if sentTracking.giftwrap_status else  'Gifts are naked (do not remove postal wrapper / box).' }}
    </p>
  {% endfor %}
</div>