<h1 class="lg:col-span-2 xl:col-span-3 2xl:col-span-4">
  Starting the game
</h1>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/manager-players.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/draft-matches.ejs' }) %>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/fix-matches.ejs' }) %>
<h1 class="lg:col-span-2 xl:col-span-3 2xl:col-span-4">
  Sleuthing & Chasing
</h1>
<%- include('../layouts/card.ejs', { bodyTemplate: 'admin/home/published-matches.ejs' }) %>
