<div class="space-y-8">
  <h1>Tracking for @<span x-text="modalData.santa_handle"></span> to @<span x-text="modalData.giftee_handle"></span></h1>
  <%- include('../partials/activity-spinner.ejs') %>
  <div id="match-tracking"></div>
  <%- include('../player/add-tracking.ejs', {}) %>
</div>