{% extends "common/page-layout.njk" %}
{% from "common/form-fields.njk" import inputText, inputCheckbox, activitySpinner %}
{% block body %}
<form x-target="page-body" action="/admin/settings" method="post" x-data="{{ settings | dump }}" class="space-y-8 w-full max-w-lg">
  <a href="/admin/badges">Badges</a>
  {{ inputCheckbox(id='signups_open', label='Signups open', xModel='signups_open') }}
  {{ inputCheckbox(id='mastodon_players', label='Allow mastodon players', xModel='mastodon_players') }}
  {{ inputCheckbox(id='show_badges', label='Show badges', xModel='show_badges') }}
  {{ inputText(id='signups_open_date', label='Signups open date', xModel='signups_open_date', inputType='date') }}
  {{ inputText(id='signups_close_date', label='Signups closed date', xModel='signups_close_date', inputType='date') }}
  {{ inputText(id='matches_sent_date', label='Matches sent date', xModel='matches_sent_date', inputType='date') }}
  {{ inputText(id='send_by_date', label='Send by date', xModel='send_by_date', inputType='date') }}
  {{ inputText(id='opening_date', label='Opening date', xModel='opening_date', inputType='date') }}
  {{ inputText(id='hashtag', label='Hashtag', xModel='hashtag' ) }}
  {{ inputText(id='feed_hashtags', label='Feed hashtags', xModel='feed_hashtags' ) }}
  {{ inputText(id='elf_list', label='Elf list', xModel='elf_list' ) }}
  {{ inputCheckbox(id='auto_follow', label='Auto-follow players', xModel='auto_follow') }}
  {{ inputCheckbox(id='send_messages', label='Send nudges & DMs', xModel='send_messages') }}
  {{ inputText(id='nudge_rate', label='Nudge rate', xModel='nudge_rate') }}
  {{ inputText(id='dm_rate', label='DM rate', xModel='dm_rate') }}
  {{ inputCheckbox(id='feed_player_only', label='Only show players in feeds', xModel='feed_player_only') }}
  {{ inputText(id='feed_max_distance_from_tag', label='Feed - Max distance from tag', xModel='feed_max_distance_from_tag', inputType='number') }}
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
  {{ activitySpinner() }}
  <input type="submit" name="save" value="Save" class="htmx-request:hidden rounded-lg w-full px-8 py-2 bg-bsky hover:bg-sky-500 text-white drop-shadow-lg focus:ring-3 ring-sky-500 outline-hidden" />
</form>
<form x-target="page-body" action="/admin/settings/reset-game" method="post" class="space-y-8 w-full max-w-lg mt-16" @ajax:before="confirm('Are you really sure? This will delete all players, matches, presents, EVERYTHING!') || (() => {$event.preventDefault(); $event.stopPropagation();})()">
  <h1>Danger!! Danger!! Danger!!</h1>
  {{ activitySpinner() }}
  <input type="submit" name="reset-game" value="Reset all data" class="htmx-request:hidden rounded-lg w-full px-8 py-2 bg-red-600 hover:bg-red-400 text-white drop-shadow-lg focus:ring-3 ring-sky-500 outline-hidden" />
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
</form>
{% endblock %}