{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
  <div class="space-y-8" id="modal-content">
    <h1>Nudges from @{{ match.santa_handle }} to @{{ match.giftee_handle }}</h1>
    {% for nudge in nudges %}
    <div><b>{{ nudge.nudge_type }}</b> {{ nudge.created_at | ssDatetime }}</div>
    {% endfor %}
    <form x-target="modal-content" @ajax:success="$dispatch('modal:close')"
      method="post" action="/admin/match/{{ match.match_id }}/nudges"
      x-data="{{ nudgeOptions | dump }}"
    >
      {% include "player/partials/send-nudge.njk" %}
    </form>
  </div>
  {% endcall %}
</div>
{% endblock %}