{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% from "common/error.njk" import errorPanel %}
{% from "common/form-fields.njk" import inputText, dropdown, inputSubmitWithActivity %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
  <div class="space-y-8" id="modal-content">
    <h1>Tracking from @{{ match.santa_handle }} to @{{ match.giftee_handle }}</h1>
    {% for trackingRecord in trackings %}
      <p>
        Sent {{ trackingRecord.shipped_date | ssDate }} with {{ trackingRecord.carrier }} <b>{{ trackingRecord.tracking_number }}</b>. {{ 'Gifts are wrapped.' if trackingRecord.giftwrap_status else  'Gifts are naked.' }}
      </p>
    {% endfor %}
    <div id="match-tracking" class="htmx-request:hidden"></div>
    <form x-target="modal-content" x-target.error="add-tracking-error" @ajax:success="$dispatch('modal:close')"
      method="post" action="/admin/match/{{ match.match_id }}/tracking"
      class="space-y-8"
    >
      <h1>Add tracking for @{{ match.giftee_handle }}</h1>
      <p>This will DM @{{ match.giftee_handle }}.</p>

      {% include "player/partials/add-tracking.njk" %}
    </form>
  </div>
  {% endcall %}
{% endblock %}