/node_modules
/dist
/public/*.css
/public/*.js
/public/*.map
/.env
/.env.*
/bluesky-bridge-creds.creds
/distribution/.serverless/*

*.swp
*.sqlite
*.sqlite-shm
*.sqlite-wal
newrelic_agent.log
todo.md
