<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secret Santa NZ</title>
    <link href="/public/style.css" rel="stylesheet">
    <style>[x-cloak] { display: none !important; }</style>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <body class="bg-slate-300 text-slate-800 dark:bg-slate-800 dark:text-slate-200" hx-disabled-elt
="input, select, form"  >
    <div class="flex flex-col">
      <div class="sticky top-0 bg-bsky text-white drop-shadow-lg mb-8 z-50">
        <div class="flex items-center p-4 gap-4">
          <h1 class="font-semibold">Secret Santa NZ</h1>
          <div class="flex-grow"></div>
        </div>
      </div>
      <div class="flex-grow flex justify-center px-4 pb-4" x-data x-cloak>
          <%- body %>
      </div>
    </div>
  </body>
</html>