<div class="flex flex-col space-y-4 text-left">
  <h1>Draft matches</h1>
  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <p class="text-3xl"><%= playersNeedingMatchesCount %></p>
      <p class="text-sm">Matches needed</p>
    </div>
    <div class="text-3xl mx-2"></div>
    <div class="flex flex-col items-center">
      <p class="text-3xl"><%= unsentMatches %></p>
      <p class="text-sm">Unsent matches</p>
    </div>
  </div>
  <p class="text-center text-xl">
    <a href="/admin/draft-matches">Draft matches</a>
  </p>
  <p>Create and sent the matches</p>
  <div class="pl-6">
    <ul class="list-disc space-y-2">
      <li>Create match chains for all unmatched players</li>
      <li>Review and send the unsent matches</li>
    </ul>
  </div>
</div>
