<div class="flex flex-col space-y-4 text-left">
  <h1>Players who haven't posted</h1>
  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <p class="text-3xl"><%= playersHaventPostedOnOpeningDay %></p>
    </div>
  </div>
  <p class="text-center text-xl">
    <a href="/admin/hasnt-posted">Players who haven't posted</a>
  </p>
  <p>List of people who don't have posted on opening day.</p>
</div>
