<div class="flex flex-col space-y-4 text-left">
  <h1>Nudges</h1>
  <div class="flex justify-center">
    <div class="flex flex-col items-end">
      <p class="text-3xl"><%= sentNudgeCount %></p>
      <p class="text-sm">Sent nudges</p>
    </div>
    <div class="text-3xl mx-2">/</div>
    <div class="flex flex-col items-start">
      <p class="text-3xl"><%= nudgeCount %></p>
      <p class="text-sm">Nudges</p>
    </div>
  </div>
  <p class="text-center text-xl">
    <a href="/admin/nudges">Nudges</a>
  </p>
</div>