<div class="flex flex-col space-y-4 text-left">
  <h1>Tracking</h1>
  <div class="flex justify-center">
    <div class="flex flex-col items-end">
      <p class="text-3xl"><%= sentTrackingCount %></p>
      <p class="text-sm">Sent tracking</p>
    </div>
    <div class="text-3xl mx-2">/</div>
    <div class="flex flex-col items-start">
      <p class="text-3xl"><%= trackingCount %></p>
      <p class="text-sm">Tracking</p>
    </div>
  </div>
  <p class="text-center text-xl">
    <a href="/admin/tracking">Tracking</a>
  </p>
</div>