<div class="flex flex-col space-y-4 text-left">
  <h1>People without gifts</h1>
  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <p class="text-3xl"><%= presentsToFollowUpCount %></p>
      <p class="text-sm">Presents to follow up</p>
    </div>
  </div>
  <p class="text-center text-xl">
    <a href="/admin/without-gifts">People without gifts</a>
  </p>
  <p>List of people who don't have presents</p>
  <div class="pl-6">
    <ul class="list-disc space-y-2">
      <li>Follow up on missing gifts</li>
      <li>Assign super-santa if needed</li>
    </ul>
  </div>
</div>
