{% from "common/form-fields.njk" import inputText, inputAddress, inputSubmitWithActivity %}
{% from "common/error.njk" import errorPanel %}
<div class="space-y-8">
  <h1>Enter address for @{{ player_display_handle }}</h1>
  {{ inputAddress(id='address', label='Address') }}
  {{ inputText(id='delivery_instructions', label='Delivery instructions', placeholder='Leave by back door', xModel='delivery_instructions') }}
  {{ errorPanel(errorMessage, 'address-error') }}
  {{ inputSubmitWithActivity(xBindDisabled='!address') }}
</div>
<input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>