{% from "common/form-fields.njk" import inputText, inputSubmitWithActivity %}
{% from "common/error.njk" import errorPanel %}
<form x-target="_none" action="/player/update-address" method="post" id="update-address" @ss-address-changed="modalData.address = $event.detail.address;">
  <div class="space-y-8">
    {% if adminMode %}
      <h1 x-text="'Enter address for @' + modalData.handle"></h1>
    {% else %}
      <h1>Enter address for @{{ player_display_handle }}</h1>
    {% endif %}
    {{ inputText(id='address', label='Address', placeholder='123 Candy Cane Lane, North Pole', xModel='modalData.address', inputType='address') }}
    {{ inputText(id='delivery_instructions', label='Delivery instructions', placeholder='Leave by back door', xModel='modalData.delivery_instructions') }}
    {{ errorPanel(errorMessage, 'update-address-error') }}
    {{ inputSubmitWithActivity(xBindDisabled='!modalData.address', hideClose=hideClose) }}
  </div>
  <input type="hidden" name="player_did" x-bind:value="modalData.did"/>
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
</form>