{% extends "common/card-layout.njk" %}
{% block cardBody %}<div
  @click="isMobileWidth && (cardExpanded = !cardExpanded)"
  class="flex -ml-4 lg:ml-0 items-start"
>
  <div
    x-show="isMobileWidth"
    x-bind:class="'size-10 shrink-0 grow-0 ' + (cardExpanded ? 'i-mdi-chevron-down' : 'i-mdi-chevron-right')"
  ></div>
  <div class="grow shrink">
    <h1>Key information</h1>
    <p>Don't forget these important rules and dates!</p>
  </div>
  <div class="size-10 shrink-0 grow-0 i-mdi-information"></div>
</div>
<div x-show="!isMobileWidth || cardExpanded" class="space-y-8 mt-8">
  <div><a href="/rules">The rules</a></div>
  <div><a href="/faq">Frequently asked questions</a></div>
  <div>
    <p>Important dates:</p>
    <div class="pl-6">
      <ul class="list-disc space-y-4">
        <li>
          <b>{{ settings.matches_sent_date | ssDate }}</b> - Matches
          announced
        </li>
        <li>
          <b>{{ settings.send_by_date | ssDate }}</b> - Last day for posting
          your presents
        </li>
        <li><b>{{ settings.opening_date | ssDate }}</b> - Opening day</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}