{% extends "common/card-layout.njk" %}
{% block cardBody %}
<div class="space-y-8">
  <h1>Signups are closed</h1>
  <p>
    Sorry @{{ player_display_handle }}, the game has begun an signups are now
    closed.
  </p>
  <p>It's okay though, there's always next year.</p>
</div>
{% endblock %}