{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% from "common/error.njk" import errorPanel %}
{% from "common/form-fields.njk" import activitySpinner, inputSubmitWithActivity %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
<div class="space-y-8" id="modal-content" x-init="informationalModal = true">
  <h1>Notes about @{{ player.handle }}</h1>
  <p class="text-sm">Notes are only visible to the elves, use this to record anything we want to keep track of so other elves can be aware of it when dealing with the player.</p>
  <form x-target="modal-content" x-target.error="add-node-error" @ajax:success="$dispatch('modal:close')" action="/admin/player/{{ player.id }}/notes" method="post" id="add-note">
    <div class="space-y-8">
      <div class="group">
        <label
          for="add-note-text"
          class="block -mb-8 mt-2 relative pl-2 text-sm group-focus-within:text-blue-700 dark:group-focus-within:text-blue-300 scheme-light dark:scheme-dark"
          >Note</label
        >
        <textarea
          id="add-note-text"
          name="note_text"
          rows="5"
          class="p-2 pt-10 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring-3 ring-sky-500 outline-hidden disabled:opacity-50"
        ></textarea>
      </div>
        {{ errorPanel(errorMessage, "add-node-error") }}
      {{ inputSubmitWithActivity(label='Add note') }}
    </div>
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
  </form>
  {% for note in notes %}
  <div class="mt-12 border-t">
    <div class="whitespace-pre-wrap">{{ note.text }}</div>
    <div class="flex">
      <div class="grow shrink"></div>
      <div>{{ note.author }} at {{ note.created_at | ssDatetime }}</div>
    </div>
  </div>
  {% endfor %}
</div>
  {% endcall %}
</div>
{% endblock %}