{% extends "common/card-layout.njk" %}
{% block cardBody %}
  {% include "./what-is-secret-santa.njk" %}
  <div class="space-y-2 pt-2">
    <p>For more information check out:</p>
    <div class="pl-6">
      <ul class="list-disc space-y-2">
        <li><a href="/rules">The rules</a></li>
        <li><a href="/faq">Frequently asked questions</a></li>
      </ul>
    </div>
  </div>
{% endblock %}