<div class="space-y-2">
  <h2>What is Secret Santa NZ?</h2>
  <p>
    Secret Santa NZ is the Bluesky version of the game, continuing in the
    tradition of NZ Twitter Secret Santa. At Christmas and Mid-Winter,
    Kikorangi/Bluesky Aotearoa, play a giant game of Secret Santa.
  </p>
  <p>
    Just like Secret Santa in your office or book club, you anonymously buy a
    present for someone and in turn you receive a present from your own
    anonymous Secret Santa. The joy of Secret Santa is in sleuthing your Giftee,
    finding the perfect gift, and then watching with child-like glee and a full
    heart as they receive, then open their present and the post the experience
    on the
    <a
      href="https://bsky.app/hashtag/{{ settings.hashtag.slice(1) }}"
      target="_blank"
      >{{ settings.hashtag }}</a
    >
    hashtag.
  </p>
  <p>
    Whether you play or watch from the sidelines, Secret Santa NZ brings a true
    joy that we need in this world.
  </p>
</div>
