<div x-sync id="server-event" class="hidden" x-init="
  {%- if reload -%}
    window.location.reload();
  {%- endif -%}
  {%- if redirectTo -%}
    window.location = {{ redirectTo | dump }};
  {%- endif -%}
  {%- if replaceUrl -%}
    window.history.replaceState(null, '', {{ replaceUrl | dump }});
  {%- endif -%}
  {%- if startRequestFrom -%}
    secretsantanz.startRequest(document.querySelector({{ startRequestFrom | dump }}));
  {%- endif -%}
  {%- for event in playerEvents | default([]) -%}
    {%- if event.updated -%}
      $dispatch('ss:player:updated', {{ event.updated | dump }});
    {%- endif -%}
  {%- endfor -%}
  {%- for event in matchEvents | default([]) -%}
    {%- if event.updated -%}
      $dispatch('ss:match:updated', {{ event.updated | dump }});
    {%- endif -%}
    {%- if event.deactivated -%}
      $dispatch('ss:match:deactivated', {{ event.deactivated | dump }});
    {%- endif -%}
  {%- endfor -%}
"></div>