<div x-sync id="server-event" class="hidden" x-init="
  {%- if reload -%}
    window.location.reload();
  {%- endif -%}
  {%- if redirectTo -%}
    window.location = {{ redirectTo | dump }};
  {%- endif -%}
  {%- if replaceUrl -%}
    window.history.replaceState(null, '', {{ replaceUrl | dump }});
  {%- endif -%}
  {%- if closeDialog -%}
    $dispatch('dialog:close')
  {%- endif -%}
  {%- if openDialog -%}
    $dispatch('dialog:open')
  {%- endif -%}
  {%- if startRequestFrom -%}
    secretsantanz.startRequest(document.querySelector({{ startRequestFrom | dump }}));
  {%- endif -%}
"></div>