
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Secret Santa Login</title>
  </head>
  <body>
    <form method="post" action="/atproto-login">
      <input type="text" name="handle" placeholder="coolplayer.bsky.social"/>
      <input type="hidden" name="requestId" value="<%= requestId %>"/>
      <input type="submit" name="login" value="Next"/>
    </form>
  </body>
</html>