<div
  class="max-w-3xl w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex flex-col space-y-8"
>
  <h1>Frequently asked questions</h1>
  <div>
    <h2>What is Secret Santa?</h2>
  </div>
  <div>
    <h2>What do I need to play?</h2>
  </div>
  <div>
    <h2>Who else is playing?</h2>
  </div>
  <div>
    <h2>What are the important dates?</h2>
  </div>
  <div>
    <h2>What's the hashtag this time around?</h2>
  </div>
  <div>
    <h2>Who do I talk to with questions?</h2>
  </div>
  <div>
    <h2>I signed up but can no longer play, how do I remove myself?</h2>
  </div>
  <div>
    <h2>Are you the same as Twitter Secret Santa?</h2>
    Are you the same as the NZ Post Secret Santa?
  </div>
  <div>
    <h2>What are the rules?</h2>
  </div>
  <div>
    <h2>What kind of info do you need?</h2>
  </div>
  <div>
    <h2>What other information do you record?</h2>
  </div>
  <div>
    <h2>What will you do with my Bluesky account?</h2>
  </div>
  <div>
    <h2>
      What access do you have and what info will you share with other people?
    </h2>
  </div>
  <div>
    <h2>What's the budget?</h2>
  </div>
  <div>
    <h2>Can I request a specific Giftee?</h2>
  </div>
  <div>
    <h2>How do I avoid being matched with someone I don't like?</h2>
  </div>
  <div>
    <h2>Should I wrap the present I send?</h2>
  </div>
  <div>
    <h2>Do I need to say if the present is "naked" on the packaging?</h2>
  </div>
  <div>
    <h2>Should I include a card with the present I send?</h2>
  </div>
  <div>
    <h2>Do I reveal who I am at the end?</h2>
  </div>
  <div>
    <h2>How can I update my delivery address?</h2>
  </div>
  <div>
    <h2>Can I play from overseas?</h2>
  </div>
  <div>
    <h2></h2>
  </div>
  <div>
    <h2></h2>
  </div>
</div>
