{% extends "common/page-layout.njk" %}
{% block body %}
<div
  class="max-w-3xl w-full border-solid border rounded-xl border-slate-500 bg-slate-100 dark:bg-slate-900 p-8 drop-shadow-lg flex flex-col space-y-2"
>
  <h1>Rules of the Game</h1>
  <p>The Bluesky Secret Santa New Zealand rules are:</p>
  <div class="pl-6">
    <ul class="list-disc space-y-2">
      <li>The FIRST RULE of Secret Santa is: Be kind, please.</li>
      <li>The SECOND RULE of Secret Santa is: Be excellent to each other.</li>
      <li>The THIRD RULE of Secret Santa is to closely follow these instructions:
        <div class="pl-8">
          <ul class="list-disc space-y-1">
            <li>You must enter an up to date postal address (or PO Box) on the Secret Santa App.</li>
            <li>Your gift must be sent by Tracked Post / Courier by {{ formatDate(settings.send_by_date) }}
              AND your tracking number loaded into the Secret Santa App.</li>
            <li>If your address changes after {{ formatDate(settings.signups_close_date) }} you MUST DM
              <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a></li>
            <li>If your situation changes and you can no longer play after the matches are assigned you MUST DM
              <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a></li>
            <li>If your gift is being sent to work, you must take it home as soon as you receive it in case
              covid/life gets in the way</li>
          </ul>
        </div>
      </li>
      <li>The FOURTH RULE of Secret Santa is you must post some hints for your Santa using the hashtag <a
        href="https://bsky.app/hashtag/{{ settings.hashtag.slice(1) }}"
        target="_blank"
        >{{ settings.hashtag }}</a>.
        Post likes/dislikes, hobbies, interests, current hyperfixations, allergies, sock size etc - important stuff.
        The more the better! Stuck on what to post? Check out what others are sharing on the hashtag.</li>
      <li>The FIFTH RULE of Secret Santa is: Put aroha into your gift and ONLY SPEND WHAT YOU CAN AFFORD.
        It's the thought that counts is very much the foundation and spirit of Secret Santa.</li>
      <li>The SIXTH RULE of Secret Santa is: Opening Day is {{ formatDate(settings.opening_date) }} when you will
        open your gift and post videos or photos and much excitement! If you cannot do this date, please post
        in advance and again on the day when you will be opening. We understand that life might happen.</li>
      <li>The SEVENTH RULE of Secret Santa is that if you are disappointed in your gift, please do not post
        it onto your account. Let <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a>
        know why in a DM and we can go from there.</li>
    </ul>
  </div>
</div>
{% endblock %}