@import 'tailwindcss';

@config '../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility scheme-light {
  color-scheme: light;
}

@utility scheme-dark {
  color-scheme: dark;
}

@layer components {
  h1 {
    @apply font-semibold text-xl;
  }
  h2 {
    @apply font-semibold text-lg;
  }
  a {
    @apply hover:text-sky-500 rounded-xs drop-shadow-lg focus:text-sky-500 focus:ring-3 ring-sky-500 outline-hidden underline;
  }
  button {
    @apply hover:text-sky-500 drop-shadow-lg focus:text-sky-500 focus:ring-3 ring-sky-500 outline-hidden rounded-lg cursor-pointer;
  }
  input[type="submit"] {
    @apply cursor-pointer;
  }
  form {
    @apply m-0
  }
}