{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% from "common/error.njk" import errorPanel %}
{% from "common/form-fields.njk" import inputText, dropdown, inputSubmitWithActivity %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
<form x-target="page-body dialog-content" x-target.error="add-tracking-error" @ajax:success="if (!$event.detail.url.match(/\/badge\//)) $dispatch('dialog:close')" method="post" action="/tracking"
  x-data="{{ tracking | dump }}"
  id="dialog-content"
  >
  <div class="space-y-8">
    <h1>Add tracking for @{{ match.giftee_handle }}</h1>
    <p>Let @{{ match.giftee_handle }} (and the elves) know that their present is on their way by adding the tracking number here.</p>
    <p>This will DM @{{ match.giftee_handle }} the tracking number so they can watch out for your gift.</p>

    {{ inputText(id='shipped_date', label='Date shipped', xModel='shipped_date', inputType='date') }}
    {{ dropdown(id='carrier', label='Carrier', xModel='carrier', options=carriers ) }}
    {{ inputText(id='tracking_number', label='Tracking number', placeholder='AA123456789NZ', xModel='tracking_number') }}
    <fieldset  class="p-2 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring-3 ring-sky-500 outline-hidden disabled:opacity-50">
      <legend class="pl-2 text-sm group-focus-within:text-blue-700 dark:group-focus-within:text-blue-300">Giftwrap situation</legend>
      <div>
        <input type="radio" id="giftwrap_status_wrapped" name="giftwrap_status" value="1"/>
        <label for="giftwrap_status_wrapped">Gifts are wrapped</label>
      </div>
      <div>
        <input type="radio" id="giftwrap_status_naked" name="giftwrap_status" value="0" checked />
        <label for="giftwrap_status_naked">Gifts are naked</label>
      </div>
    </fieldset>
    {{ errorPanel(errorMessage, 'add-tracking-error') }}
    {{ inputSubmitWithActivity(xBindDisabled='!shipped_date || !tracking_number') }}
  </div>
  <input type="hidden" name="match_id" value="{{ match.match_id }}"/>
  <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
<form>
<a href="/" class="text-gray-400 no-underline absolute bottom-8 left-8">Close</a>
  {% endcall %}
</div>
{% endblock %}