{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% from "common/error.njk" import errorPanel %}
{% from "common/form-fields.njk" import inputText, dropdown, inputSubmitWithActivity %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
<form x-target="page-body modal-content" x-target.error="add-tracking-error" @ajax:success="if (!$event.detail.url.match(/\/badge\//)) $dispatch('modal:close')" method="post" action="/tracking"
  id="modal-content"
  >
  {% include "player/partials/add-tracking.njk" %}
</form>
<a href="/" class="text-gray-400 no-underline absolute bottom-8 left-8">Close</a>
  {% endcall %}
</div>
{% endblock %}