{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% block body %}
<div class="w-full flex justify-center" x-data="{{ {modalData: {address: player.address, delivery_instructions: player.delivery_instructions } } | dump }}">
  {% set hideClose=true %}
  {% call card() %}
    {% include "./partials/address.njk" %}
  {% endcall %}
</div>
{% endblock %}