<div class="lg:col-span-2 xl:col-span-3 2xl:col-span-4 w-full flex justify-center" x-data="<%= JSON.stringify({modalData: {address: player.address, delivery_instructions: player.delivery_instructions }})%>">
  <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs' }) %>
</div>