{% extends "common/page-layout.njk" %}
{% block body %}
<div class="w-full flex justify-center" x-data="{{ {modalData: {address: player.address, delivery_instructions: player.delivery_instructions } } | dump }}">
  {% set hideClose=true %}
  {% include "./partials/address-card.njk" %}
</div>
{% endblock %}