<div  x-data="<%= JSON.stringify({modalData: {address: player.address, delivery_instructions: player.delivery_instructions }})%>">
  <%- include('../layouts/card.ejs', { bodyTemplate: 'player/address.ejs' }) %>
</div>