<div class="space-y-8">
  <h1 x-text="modalData.title"></h1>
  <p x-text="modalData.description"></p>
  <div class="flex flex-col justify-center">
    <img
      class="block flex-grow flex-shrink object-contain"
      x-bind:src="modalData.image_url"
    />
  </div>
  <div class="flex items-center">
    <button @click.prevent="$dispatch('ss-close-modal')" class="text-gray-400">
      Close
    </button>
    <div class="flex-grow"></div>
  </div>
</div>
