{% extends "player/home.njk" %}
{% from "common/card.njk" import card %}
{% block dialogContent %}
  <div class="space-y-8" id="dialog-content">
    <h1>{{ badge.title }}</h1>
    <p>{{ badge.description }}</p>
    <div class="flex flex-col justify-center">
      <img
        class="block grow shrink object-contain drop-shadow-lg"
        src="{{ badge.image_url }}"
      />
    </div>
  </div>
{% endblock %}
