<div class="lg:col-span-2 xl:col-span-3 2xl:col-span-4 w-full flex justify-center" x-data="<%= JSON.stringify({modalData: {game_mode: player.game_mode || 'Regular', max_giftees: Math.max(player.max_giftees, 2) }})%>">
  <%- include('../layouts/card.ejs', { bodyTemplate: 'player/game-mode.ejs' }) %>
</div>