<form hx-post="/player/update-game-mode">
  <div class="space-y-8">
    <% if (locals.adminMode) { %>
      <h1 class="text-xl font-semibold" x-text="'Game mode for @' + modalData.handle"></h1>
    <% } else { %>
      <h1 class="text-xl font-semibold">How do you want to play?</h1>
    <% } %>
    <%- include('../partials/drop-down.ejs', {id: 'game_mode', xModel: 'modalData.game_mode', label: 'Game mode', options: [
      {id: 'Regular', text: 'Regular'},
      {id: 'Super Santa', text: 'Super Santa'},
      ...(!locals.adminMode ? [] : [
        {id: 'Santa Only', text: 'Santa Only'},
        {id: 'Giftee Only', text: 'Giftee Only'},
      ])
    ]}); %>
    <div class="group" x-show="modalData.game_mode === 'Super Santa' || modalData.game_mode === 'Santa Only'">
      <label for="max_giftees" class="block -mb-8 mt-2 relative pl-2 text-sm group-focus-within:text-blue-700 group-focus-within:dark:text-blue-300">How many giftees would you buy for?</label>
      <input x-model="modalData.max_giftees" type="number" id="max_giftees" name="max_giftees" x-bind:min="modalData.game_mode === 'Super Santa' ? 2 : modalData.game_mode === 'Santa Only' ? 1 : 0" max="5" class="p-2 pt-10 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring ring-sky-500 outline-none disabled:opacity-50"/>
    </div>
    <%- include('../partials/input-submit-with-activity.ejs', {xBindDisabled: false}); %>
  </div>
  <input type="hidden" name="player_did" x-bind:value="modalData.did"/>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
</form>