{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
    <form x-target="page-body" x-target.error="game-mode-error" @ajax:success="$dispatch('modal:close')" action="/game-mode" method="post" id="modal-content">
      <h1 class="mb-8">How do you want to play?</h1>
      {% include "./partials/game-mode.njk" %}
    </form>
    {% if not hideClose %}<a href="/" class="text-gray-400 no-underline absolute bottom-8 left-8">Close</a>{% endif %}
  {% endcall %}
</div>
{% endblock %}