<div>
  <h1>Key dates</h1>
  <p>Don't forget these important dates!</p>
  <ul class="list-disc mt-8 space-y-4">
    <li>Matches announced: <b><%= formatDate(settings.matches_sent_date) %></b></li>
    <li>Send your present by: <b><%= formatDate(settings.send_by_date) %></b></li>
    <li>Opening day: <b><%= formatDate(settings.opening_date) %></b></li>
  </ul>
</div>