<form hx-post="/player/opt-in">
  <div class="space-y-8">
    <h1 class="text-xl font-semibold">@<%= player.handle%> opted out</h1>
    <% if (settings.signups_open) { %>
      <p>You opted out of the game, but it's okay, if it was a mistake you can opt back in to play.</p>
      <%- include('../partials/input-submit-with-activity.ejs', {xBindDisabled: false, label: 'Opt back in'}); %>
    <% } else { %>
      <p>You opted out of the game.</p>
      <p>DM <a href="https://bsky.app/profile/secretsanta.nz" target="_blank">@secretsanta.nz</a> if you want to play after all.</p>
    <% } %>
  </div>
  <input type="hidden" name="csrfToken" value="<%= csrfToken %>"/>
<form>