<h1>Presents for me</h1>
<p class="mt-8">Once you're Santa has sent a present it will show up here. Don't worry, we'll also DM you</p>
<% myGifts.forEach(function(tracking) { %>
  <%- include('../partials/tracking.ejs', {tracking, show_tracking_giftee: false, show_tracking_actions: true}) %>
<% }) %>