<h1>Presents I've sent</h1>
<p class="mt-8">Once you've sent a present and entered the tracking number it will show up here</p>
<% giftsIveSent.forEach(function(tracking) { %>
  <%- include('../partials/tracking.ejs', {tracking, show_tracking_giftee: true, show_tracking_actions: false}) %>
<% }) %>