{% extends "common/page-layout.njk" %}
{% from "common/card.njk" import card %}
{% block body %}
<div class="w-full flex justify-center">
  {% call card() %}
<form x-target="page-body" x-target.error="send-nudge-error" @ajax:success="$dispatch('modal:close')" method="post" action="/nudge"
    x-data="{{ nudgeOptions | dump }}"
    id="modal-content"
  >
  {% include "player/partials/send-nudge.njk" %}
</form>
  {% endcall %}
</div>
{% endblock %}