<div class="space-y-8">
  <h1 class="text-xl font-semibold">Signups are closed</h1>
  <p>Sorry @<%= player_handle %>, the game has begun an signups are now closed.</p>
  <p>It's okay though, there's always next year.</p>
</div>