{% from "partials/activity-spinner.njk" import activitySpinner %}
{% macro inputText(id, label, name='', placeholder='', inputType='text', xShow='', xModel='', attributes={}) %}
<div class="group" {% if xShow %}x-show="{{ xShow }}"{% endif %}>
  <label for="{{ id }}" class="block -mb-8 mt-2 relative pl-2 text-sm group-focus-within:text-blue-700 dark:group-focus-within:text-blue-300 scheme-light dark:scheme-dark">{{ label }}</label>
  <input {% if locals.xModel %}x-model="{{ xModel }}" {% endif %}type="{{ inputType }}" id="{{ id }}" name="{{ namd if name else id }}" placeholder="{{ placeholder }}" class="p-2 pt-10 rounded-lg border-slate-300 border bg-slate-50 dark:bg-slate-950 w-full focus:ring-3 ring-sky-500 outline-hidden disabled:opacity-50"{% for key, value in attributes %} {{ key }}="{{ value }}"{% endfor %}/>
</div>
{% endmacro %}

{% macro inputSubmitWithActivity(label='', xBindDisabled='', hideClose=false) %}
<div class="flex items-center">
  {% if not hideClose %}<button @click.prevent="$dispatch('ss-close-modal')" class="text-gray-400">Close</button>{% endif %}
  <div class="grow"></div>
  {{ activitySpinner() }}
  <input type="submit" name="save" value="{{ label if label else 'Save' }}" x-bind:disabled="{{ xBindDisabled }}" class="rounded-lg px-8 py-2 bg-bsky dark:disabled:bg-gray-600 disabled:bg-gray-400 hover:bg-sky-500 text-white drop-shadow-lg focus:ring-3 ring-sky-500 outline-hidden" />
</div>
{% endmacro %}